UserSettings
Library/Artifacts
Library/Bee
Library/BurstCache
Library/PackageCache
Library/ScriptAssemblies
Library/Search
Library/ShaderCache
Library/StateCache
Library/TempArtifacts
obj
Logs
.vs
Temp
Build
Library/PlayerDataCache
Library/BuildPlayerData
Library/SourceAssetDB-lock
Library/SourceAssetDB
Library/ShaderCache.db
Library/SceneVisibilityState.asset
Library/LastSceneManagerSetup.txt
Library/EditorSnapSettings.asset
Library/EditorInstance.json
Library/ArtifactDB-lock
Library/ArtifactDB
