UserSettings
Library/Artifacts
Library/Bee
Library/BurstCache
Library/PackageCache
Library/ScriptAssemblies
Library/Search
Library/ShaderCache
Library/StateCache
Library/TempArtifacts
obj
Logs
.vs
Temp