UserSettings
Library/Artifacts
Library/Bee
Library/BurstCache
Library/PackageCache
Library/ScriptAssemblies
Library/Search
Library/ShaderCache
Library/StateCache
Library/TempArtifacts
obj
Logs
.vs
Temp
Build
Library/PlayerDataCache
Library/BuildPlayerData
Library/ArtifactDB
Library/ArtifactDB-lock
Library/ShaderCache.db
Library/SourceAssetDB
Library/SourceAssetDB-lock
Library/ArtifactDB
Library/ArtifactDB
Library/ArtifactDB-lock
Library/ShaderCache.db
Library/SourceAssetDB
Library/SourceAssetDB-lock
